body {
	text-align: center;
	background: url(images/fondo.jpg);
	background-size: cover;
	color: #fff;
}
h1	{
	font-size: 50px;
	font-weight: bold;
	font-family: Helvetica;
}
p	{
	font-size: 34px;
	font-family: 'Lora', serif;
}