@import url('https://fonts.googleapis.com/css?family=Lora:400,700');
* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: 'Lora', serif;
	text-align: center;
}
section {
	padding:5em 0;
}
h1	{
	font-size: 50px;
	font-weight: bold;
	font-family: Helvetica;
}
p	{
	font-size: 34px;
	
}
#splash {
	background:url(images/fondo.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	padding:10em 0 0;
	height:100vh;
}
